deflect-from.example.com {
	log {
		# change this line
		output file /home/user/deflect/access.log {
			roll_size 2MiB
		}
		format filter {
			wrap json
			fields {
				# uncomment if you do not want to collect ip
				# request>remote_ip hash
				request>remote_port delete
				request>headers delete
				request>tls delete
				resp_headers delete
			}
		}
	}
	route / {
		redir https://deflect-to.example.com
	}
	# remove this block if you do not want to reveal visitor statistics
	route /stat {
		rewrite /stat /visitorfile.html
		file_server {
			# change this line
			root /home/user/deflect
		}
	}
	# all unmatching requests will yield this response
	respond "Not found" 404
}
