# note that if your runner does not have rights to use low port (80/443),
# you will have to assign high number port and match 80->8080 to use this

# use the global config below to configure high number port on http[s].
# {
# 	http_port 8080
# 	https_port 8443
# }
#

deflect-from.example.com {
	log {
		# change this line
		output file /home/user/deflect/access.log {
			roll_size 2MiB
		}
		format filter {
			wrap json
			fields {
				# uncomment if you do not want to collect ip
				# request>remote_ip hash
				request>remote_port delete
				request>headers delete
				request>tls delete
				resp_headers delete
			}
		}
	}
	route / {
		redir https://deflect-to.example.com
	}
	# remove this block if you do not want to reveal visitor statistics
	route /stat {
		rewrite /stat /visitorfile.html
		file_server {
			# change this line
			root /home/user/deflect
		}
	}
	# all unmatching requests will yield this response
	respond "Not found" 404
}
